* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
a {
  color: black;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Sección de inicio con fondo de imagen completo */
.full-screen {
    background: url('fondo.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color: white;
}
<head>
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>

/* Estilos de las secciones */
#productos {
    background-color: #f0f0f0;
    padding: 40px;
}

.producto {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.producto img {
    width: 200px;
    height: auto;
}

.descripcion {
    flex: 1;
    margin-left: 20px;
}

button {
    background-color: #333333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333333;"#45a049"
}

/* Efecto al hacer clic en el botón (cuando se presiona) */
button:active {
    background-color: #666666; /* Gris más claro al hacer clic */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section {
    padding: 40px 0;
}

#quienessomos p,
#servicios ul {
    max-width: 800px;
    margin: auto;
}

#servicios ul {
    list-style-type: none;
}

#servicios li {
    margin: 10px 0;
}
a {
  text-decoration: none;
}
/* Estilos para el logo de WhatsApp flotante */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

