body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #007BFF;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.servicio img {
    width: 200px;
    display: block;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form textarea, form button {
    margin: 10px 0;
    padding: 10px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

body {
    background-image: url('images/fondo lavadora.jpg'); /* Cambia el nombre por el de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Fija la imagen para que no se mueva cuando se haga scroll */
}

